<div class="container">     
    <div class="span12">      
        <% if current_user %>
          <hr>
            <h3>Hi there, <%= current_user.name %>. You have currently drafted 
            <%= pluralize(current_user.draftees.count, "player") %>.</h3>
          <hr>
        <% end %>
        <% if current_user && current_user.admin? %>
          <hr>
          <%= link_to "Add New Draftee", new_draftee_path, class: "btn btn-danger btn-lg" %>
        <% end %>
        <hr>
    </div> 
</div>

<div>
<% @draftees.each do |draftee| %>
<div class="container">
    <div class="row">
      <div class="[ col-sm-6 col-md-offset-2 col-md-4 ]">
        <div class="[ info-card ]">
          <% if draftee.drafted? %>
            <%= image_tag("http://i.imgur.com/1KTiYQV.png", :style => "width: 100%") %>
          <% else %>
            <%= image_tag(draftee.img_url, :style => "width: 100%") %>
          <% end %>
          <div class="[ info-card-details ] animate">
            <div class="[ info-card-header ]">
              <h1><%= draftee.fan_name %></h1>
              <h3>Favorite Team: <%= draftee.fav_team %></h3>
              <h3><span class="fa fa-star"></span>  Fan Score: <%= draftee.fan_score %></h3>
              <% if !draftee.drafted? %>
              <%= image_tag("http://www.genesbmx.com/FreeAgent.jpg", :style => "width: 100%") %>
              <% end %>
              <% if draftee.drafted? %>
                 <p>Drafted by <strong><%= draftee.user.name %></strong></p>
              <% end %>
            </div>
            <div class="[ info-card-detail ]">
              <!-- Description -->
              <p><%= draftee.why_draft_me %></p>
              <p><strong>Favorite Bose Product: </strong><%= draftee.fav_bose_product %></p>   
              <% if current_user %>
          <% if draftee.drafted && draftee.user_id == current_user.id %>
            <%= link_to "Undraft!", undraft_path(id:draftee.id, user_id:current_user.id), class: "btn btn-danger btn-lg", method: :post %> 
          <% elsif !draftee.drafted %>
           <%= link_to "Draft!", draft_path(id:draftee.id, user_id:current_user.id), class: "btn btn-primary btn-lg", method: :post%>
          <% else %>
          <p>Drafted by <strong><%= draftee.user.name %></strong></p>
          <% end %>
          <% if current_user.admin? %>
          <div>
            <br>
          <%= link_to '<i class="fa fa-trash-o fa-2x"></i>'.html_safe, draftee_path(draftee), method: :delete, data: { confirm: "Are you sure you want to delete this draftee?"} %>
          <%= link_to '<i class="fa fa-pencil-square-o fa-2x"></i>'.html_safe, draftee_path(draftee) %>
          <% end %>
        </div>
        <% end %>

            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>    
<hr>
