<%- model_class = Draftee -%>
<div class="page-header">
  <h1><%=t '.title', :default => Draftee %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:fan_name) %></th>
      <th><%= model_class.human_attribute_name(:img_url) %></th>
      <th><%= model_class.human_attribute_name(:fav_team) %></th>
      <th><%= model_class.human_attribute_name(:why_draft_me) %></th>
      <th><%= model_class.human_attribute_name(:fav_bose_product) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:fan_score) %></th>
      <th><%= model_class.human_attribute_name(:drafted) %></th>


      <% if false %>
      <!-- <th><%= model_class.human_attribute_name(:created_at) %></th> -->
      <!-- <th><%=t '.actions', :default => t("helpers.actions") %></th> -->
      <% end %>

    </tr>
  </thead>
  <tbody>
    <% @draftees.each do |draftee| %>
      <tr>
        <td><%= draftee.id %></td>
        <td><%= draftee.fan_name %></td>
        <td><%= image_tag(draftee.img_url) %></td>
        <td><%= draftee.fav_team %></td>
        <td><%= draftee.why_draft_me %></td>
        <td><%= draftee.fav_bose_product %></td>
        <td><%= draftee.user_id %></td>
        <td><%= draftee.fan_score %></td>
        <% if current_user %>

          <% if draftee.drafted && draftee.user_id == current_user.id %>
            <td><%= link_to "Undraft", undraft_path(id:draftee.id, user_id:current_user.id) %></td>
          <% elsif !draftee.drafted %>
            <td><%= link_to "Draft", draft_path(id:draftee.id, user_id:current_user.id) %></td>
          <% else %>
          <td><p>Drafted</p></td>
          <% end %>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user && current_user.admin? %>
  <%= link_to t('.new', :default => t("helpers.links.new")), new_draftee_path, :class => 'btn btn-primary' %>
<% end %>
