<div class="container">     
    <div class="span12">      
        <% if current_user %>
<hr>
  <h3>Hi there, <%= current_user.name %>. You have currently drafted 
  <%= pluralize(current_user.draftees.count, "player") %>.</h3>
<% end %>
<hr>
    </div> 
</div>

<div>
<% @draftees.each do |draftee| %>
<div class="container">
    <div class="row">
      <div class="[ col-sm-6 col-md-offset-2 col-md-4 ]">
        <div class="[ info-card ]">
          <% if draftee.drafted? %>
            <%= image_tag("http://i.imgur.com/1KTiYQV.png", :style => "width: 100%") %>
          <% else %>
            <%= image_tag(draftee.img_url, :style => "width: 100%") %>
          <% end %>
          <div class="[ info-card-details ] animate">
            <div class="[ info-card-header ]">
              <h1><%= draftee.fan_name %></h1>
              <h3>Favorite Team: <%= draftee.fav_team %></h3>
              <h3><span class="fa fa-star"></span>  Fan Score: <%= draftee.fan_score %></h3>
              <% if !draftee.drafted? %>
              <%= image_tag("http://www.genesbmx.com/FreeAgent.jpg", :style => "width: 100%") %>
              <% end %>
              <% if draftee.drafted? %>
                 <p>Drafted by <strong><%= draftee.user.name %></strong></p>
              <% end %>
            </div>
            <div class="[ info-card-detail ]">
              <!-- Description -->
              <p><%= draftee.why_draft_me %></p>
              <p><strong>Favorite Bose Product: </strong><%= draftee.fav_bose_product %></p>   
              <% if current_user %>
          <% if draftee.drafted && draftee.user_id == current_user.id %>
            <%= button_to "Undraft", undraft_path(id:draftee.id, user_id:current_user.id, :class => "btn-primary btn") %> 
          <% elsif !draftee.drafted %>
           <%= button_to "Draft", draft_path(id:draftee.id, user_id:current_user.id) %>
          <% else %>
          <p>Drafted</p>
          <% end %>
        <% end %>

            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>    
<hr>
